<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul>
    <th:block th:each="dto: ${list}">
        <li><a th:href="@{'/ex4/'+${dto.sno}(first=${dto.sno})}">[[${dto}]]</a></li>
        <h3 th:text="${#temporals.format(dto.regTime,'yyyy/MM/dd')}"></h3>
<!--        <li th:text="${dto.sno%5==0}?${dto.sno}:${dto.first}"></li>-->
    </th:block>
    <li th:each="dto, status: ${list}"
        th:text="${dto.sno%5==0}?${dto.sno}:'red'">[[${dto}]]
    </li>
</ul>
</body>
</html>